   

    /* ----------------- ESTILOS GENERALES PARA TODAS LAS PÁGINAS ----------------- */

    * {
      margin: 0px;
      font-family: "Montserrat", sans-serif;
      box-sizing: border-box; 
    }

    a {
      text-decoration: none;
    }

    img {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    }

    h1 {
      text-align: center;
      color: white;
      line-height: 120px;
      font-size: 40px;
    }

    h2 {
      width: 50vw;
      text-align: left;
      color: #BF1818;
      padding: 20px;
      margin: 10px;
      font-size: 30px;
    }

    p {
      text-align: justify;
      color: #0D0D0D;
      padding: 30px;
      padding-top: 2px;
      line-height: 1.4;
    }

    section {
      width: 100%;
      background-color: #D9D9D9;
      float: left;
    }

    header {
      width: 100%;
      height: 120px;
      background-color: #A67C63;
    }

    footer {
      width: 100%;
      height: 70px;
      background-color: #BF1818;
      clear: both;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    /* ----------------- NAV - ESTILOS GENERALES ----------------- */

    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #D9D9D9;
      border-bottom: 3px solid #BF1818;
      width: 100%;
      max-width: 100vw;
      box-sizing: border-box;
      position: relative;
      padding: 0px;
    }

    #logo {
      width: auto;
      height: auto;
      float: left;
      padding: 12px 0 12px 20px;
    }

    #logo img {
      height: 22px;
      width: auto;
      display: block;
      margin-top: 3px;
    }

    /* ----------------- MENU DE NAVEGACIÓN (TOPNAV) ----------------- */

    .topnav {
      width: 100%;
      box-sizing: border-box;
      overflow: hidden;
      background-color: transparent;
      border-bottom: none;
      padding: 0;
      margin: 0;
    }

    .topnav a {
      float: right;
      display: block;
      color: #0D0D0D;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }

    .topnav a:hover {
      background-color: #BF1818;
      color: #0D0D0D;
    }

    .topnav a.active {
      background-color: #BF1818;
      color: white;
    }

    .topnav .icon {
      display: none;
    }

    /* ----------------- HERO IMAGE - PÁGINA INICIO ----------------- */

    .hero-image {
      background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("lina portada.jpg");
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }

    .hero_inicio {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("lina portada.jpg");
      height: 400px;
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      border-bottom: 3px solid #BF1818;
    }

    /* ----------------- GALERÍA DE IMÁGENES - PÁGINA TRABAJOS ----------------- */

    div.gallery {
      border: 1px solid #BF1818;
    }

    div.gallery:hover {
      border: 1px solid #BF1818;
    }

    div.gallery img {
      width: 100%;
      height: auto;
      border-bottom: 1px solid #BF1818;
    }

    div.desc {
      padding: 15px;
      text-align: center;
    }

    .responsive {
      padding: 0 6px;
      float: left;
      width: 24.99999%;
    }

    @media only screen and (max-width: 700px) {
      .responsive {
        width: 49.99999%;
        margin: 6px 0;
      }
    }

    @media only screen and (max-width: 500px) {
      .responsive {
        width: 100%;
      }
    }

    .clearfix:after {
      content: "";
      display: table;
      clear: both;
    }

    .page-container {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }

    .galeria {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #D9D9D9;
      padding: 40px;
    }

    .gallery-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-bottom: 20px;
    }

    .galeria h2 {
      align-self: flex-start;
      color: #BF1818;
      font-size: 30px;
      margin-bottom: 20px;
      margin-left: -10px;
    }

    /* ----------------- SECCIÓN SOBRE LINA ------------------- */

    .lina_seccion {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      padding: 40px;
      gap: 30px;
    }

    .texto_lina {
      width: 60%;
    }

    .lina_fotos {
      width: 70%;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .lina_fotos img {
      width: 60%;
      height: 30%;
      object-fit: cover;
      padding-right: 50px;
    }

    .logo_blanco {
      height: auto;
      width: 100px;
      max-width: 30%;
    }

    #contenedor {
      overflow: hidden;
    }

    /* ----------------- PÁGINA CONTACTO-------------------- */

    .mapa {
      width: 100%;
      height: 400px;
      margin-bottom: 60px;
      margin-left: 30px;
    }

    .contacto-flex {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
      padding: 40px;
      background-color: #D9D9D9;
      flex-wrap: nowrap;
    }

    .texto-contacto {
      max-width: 350px;
      color: white;
      font-size: 25px;
      height: 450px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: left;
      padding-left: 10px;
      margin-left: 0px;
    }

    .texto-contacto p {
      text-align: center;
      margin-right: 400px;
    }

    .titulo_contacto {
      color: #BF1818;
      font-size: 30px;
      padding-left: 60px;
      margin-bottom: 10px;
      align-self: flex-start;
      padding-top: 40px;
    }


/* ----------------- PÁGINA CONTACTO - RESPONSIVE -------------------- */

@media screen and (max-width: 768px) {
  .contacto-flex {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 20px;
  }

  .mapa {
    margin-left: 0;
    width: 90vw;
    height: auto;
  }

  .mapa iframe {
    width: 100%;
    height: 300px;
  }

  .texto-contacto {
    margin-left: 0;
    padding: 10px;
    max-width: 90vw;
    height: auto;
    font-size: 20px;
    margin-bottom: 40px;
  }

  .texto-contacto p {
    margin-right: 0;
    padding: 0;
    text-align: center;
  }

.titulo_contacto {
  margin-left: -3px; 
  padding-left: 20px;
 }
}




    /* ----------------- MEDIA QUERIES GENERALES ----------------- */

    @media only screen and (max-width: 900px) {
      section {
        width: 100%;
      }

      .lina_seccion {
        flex-direction: column;
        padding: 20px;
      }

      .texto_lina,
      .lina_fotos {
        width: 100%;
      }

      .lina_fotos img {
        width: 100%;
        padding-right: 0;
      }
    }

    @media only screen and (max-width: 768px) {
      .contacto-flex {
        flex-direction: column;
        text-align: center;
      }

      .mapa iframe {
        width: 90vw;
        height: 300px;
      }
    }

    @media only screen and (max-width: 700px) {
      .responsive {
        width: 49.99999%;
        margin: 6px 0;
      }
    }

    @media only screen and (max-width: 620px) {
      aside {
        display: none;
      }
    }

    @media only screen and (max-width: 600px) {
      .topnav a:not(.icon) {
        display: none;
      }

      .topnav a.icon {
        float: right;
        display: block;
        position: relative; 
        padding: 14px 16px;
        cursor: pointer;
      }

      .topnav.responsive {
        display: block;
        position: relative;
      }

      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }

      nav {
        flex-direction: column;
        align-items: flex-start;
      }

      .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    @media only screen and (max-width: 500px) {
      .responsive {
        width: 100%;
      }
    }

    @media only screen and (max-width: 600px) {
  .topnav.responsive {
    display: block;
    position: relative;
  }

  #logo {
    width: auto;
    padding-left: 10px;
    margin-left: 0;
  }


  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav .icon {
    position: absolute;
    right: 0;
    top:0;
  }
}

@media only screen and (max-width: 600px) {
  .topnav.responsive #logo {
    display:none;
  }
}


